# **Lab: Time-Series**

## Exercise 1: Feature Engineering

In this exercise, we will work on time-series dataset containing observations related to bike sharing services:
https://code.datasciencedojo.com/datasciencedojo/datasets/tree/master/Bike%20Sharing

The objective is to train a model that can accurately predict the volume bikes shared.

The steps are:
1.   Setup Repository
2.   Load and Explore Dataset
3.   Prepare Data
4.   Split Dataset
5.   Baseline Model
6.   Push Changes

### 1. Setup Repository

**[1.1]** Go to a folder of your choice on your computer (where you store projects)

In [ ]:
Go to a folder of your choice on your computer (where you store projects)-use anaconda prompt
# Placeholder for student's code (1 command line)
# Task:

In [ ]:
#Solution:
cd ~/Projects/adv_dsi

[1.2] Create folder called `src`

In [ ]:
mkdir scr #skip this step

**[1.2]** Copy the cookiecutter data science template

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Copy the cookiecutter data science template

In [ ]:
#Solution:
cookiecutter -c v1 https://github.com/drivendata/cookiecutter-data-science  #write on cmd or anaconda prompt. ypu my need to go for pip install cookiecutter or conda config --add channels conda-forge,conda install cookiecutter(for anaconda)

Follow the prompt (name the project and repo adv_dsi_lab_2)

**[1.3]** Go inside the created folder `adv_dsi_lab_2`

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Go inside the created folder adv_dsi_lab_2

In [ ]:
#Solution:
cd adv_dsi_lab_2 #via git bash

**[1.4]** Initialise the repo

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Initialise the repo

In [ ]:
#Solution:
git init

**[1.5]** Login into Github with your account (https://github.com/) and create a public repo with the name `adv_dsi_lab_2`

**[1.6]** In your local repo `adv_dsi_lab_2`, link it with Github (replace the url with your username)

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Link repo with Github

In [ ]:
#Solution:
#e.g. git remote add origin https://github.com/AUbaid/adv_dsi_lab_2.git
git remote add origin https://github.com/bonhxh/adv_dsi_lab_2.git # [if you get error, run command git remote remove origin and try again.should solve the problemgit]

**[1.7]** Add you changes to git staging area and commit them

In [ ]:
# Placeholder for student's code (2 command lines)
# Task: Add you changes to git staging area and commit them

In [ ]:
#Solution:
git add .
git commit -m "init"

**[1.8]** Push your master branch to origin

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Push your master branch to origin

In [ ]:
#Solution:
git branch -M main
git push --set-upstream origin main #(main or master ) # git clone https://github.com/AUbaid/adsi-lab2-e1.git

**[1.9]** Create a new git branch called `data_prep`

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Create a new git branch called data_prep

In [ ]:
#Solution:
git checkout -b data_prep

**[1.10]** Download the dataset into the folder data/raw

**[1.11]** Navigate the folder `notebooks` and create a new jupyter notebook called `1_data_prep.ipynb`

### 2.   Load and Explore Dataset

**[2.1]** Import the pandas and numpy package

In [ ]:
# Placeholder for student's code (2 lines of Python code)
# Task: Import the pandas and numpy package

In [1]:
# Solution
import pandas as pd
import numpy as np

**[2.2]** Load the dataset into dataframe called df

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Load the dataset into dataframe called df

In [2]:
#Solution:
df = pd.read_csv('../data/raw/day.csv')

**[2.3]** Display the first 5 rows of df

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Display the first 5 rows of df

In [3]:
# Solution
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

**[2.4]** Display the dimensions (shape) of df

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Task: Display the dimensions (shape) of df

In [4]:
# Solution
df.shape

(731, 16)

**[2.5]** Display the summary (info) of df

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Display the summary (info) of df

In [5]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

**[2.6]** Display the descriptive statistics of df

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Display the descriptive statictics of df

In [6]:
# Solution
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

### 3. Prepare Data

**[3.1]** Create a copy of df and save it into a variable called df_cleaned

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a copy of df and save it into a variable called df_cleaned

In [7]:
# Solution
df_cleaned = df.copy()

**[3.2]** Remove the column `instant` from the dataframe

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Remove the column instant from the dataframe

In [8]:
# Solution
df_cleaned.drop('instant', axis=1, inplace=True)

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Build a function to convert into datetime

In [9]:
# Solution
def convert_to_date(df, cols:list):
    """Convert specified columns from a Pandas dataframe into datetime

    Parameters
    ----------
    df : pd.DataFrame
        Input dataframe
    cols : list
        List of columns to be converted

    Returns
    -------
    pd.DataFrame
        Pandas dataframe with converted columns
    """
    import pandas as pd

    for col in cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col])
    return df

**[3.3]** Convert the column `dteday` with your function `convert_to_date`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Convert the column dteday with your function convert_to_date

In [10]:
# Solution
df_cleaned = convert_to_date(df_cleaned, ['dteday'])

**[3.4]** Extract the year component from `dteday` and save the results in the column `yr`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Extract the year component from dteday and save the results in the column yr

In [11]:
# Solution
df_cleaned['yr'] = df_cleaned['dteday'].dt.year

**[3.5]** Extract the month name component from `dteday` and save the results in the column `mnth`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Extract the month name component from dteday and save the results in the column mnth

In [12]:
# Solution
df_cleaned['mnth'] = df_cleaned['dteday'].dt.month_name()

**[3.6]** Extract the day of week component from `dteday` and save the results in the column `weekday`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Extract the day of week component from dteday and save the results in the column weekday

In [13]:
# Solution
df_cleaned['weekday'] = df_cleaned['dteday'].dt.day_name()

**[3.7]** Create a dictionary called `season_mapping` with the following key-value pairs:
- 1: 'winter',
- 2: 'spring',
- 3: 'summer',
- 4: 'autumn',

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a dictionary called season_mapping

In [14]:
# Solution
season_mapping = {
    1: 'winter',
    2: 'spring',
    3: 'summer',
    4: 'autumn',
}

**[3.8]** Remap the values of `season` to the one specified in `season_mapping`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Remap the values of season to the one specified in season_mapping

In [15]:
# Solution
df_cleaned['season'] = df_cleaned['season'].map(season_mapping)

**[3.9]** Create a dictionary called `weather_mapping` with the following key-value pairs:
- 1: 'clear',
- 2: 'cloudy',
- 3: 'rain',
- 4: 'heavy'

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a dictionary called weather_mapping

In [16]:
# Solution
weather_mapping = {
    1: 'clear',
    2: 'cloudy',
    3: 'rain',
    4: 'heavy'
}

**[3.10]** Remap the values of `weathersit` to the one specified in `weather_mapping`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Remap the values of weathersit to the one specified in weather_mapping

In [17]:
# Solution
df_cleaned['weathersit'] = df_cleaned['weathersit'].map(weather_mapping)

**[3.11]** Change the value of `holiday` to `1` for the observation where `dteday` is `2011-01-01`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Change the value of holiday to 1 for the observation where dteday is 2011-01-01

In [18]:
# Solution
df_cleaned.loc[df_cleaned['dteday'] == '2011-01-01', 'holiday'] = 1

**[3.12]** Create a new column called `holiday_date` with only missing values and convert this column to datetime

In [ ]:
# Placeholder for student's code (2 lines of Python code)
# Task: Create a new column called `holiday_date` with only missing values and convert this column to datetime

In [19]:
# Solution
df_cleaned['holidaydate'] = np.nan
df_cleaned = convert_to_date(df_cleaned, ['holidaydate'])

**[3.13]** Create a binary variable called `holiday_mask` that will state which observations have the value `1` in column `holiday`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a binary variable called holiday_mask that will state which observations have the value 1 in column holiday

In [20]:
# Solution
holiday_mask = df_cleaned['holiday'] == 1

**[3.14]** Change the values of `holidaydate` to be equals to `dteday` for all the observations that have the value 1 in column holiday (use `holiday_mask`)

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Change the values of holidaydate to be equals to dteday for all the observations that have the value 1 in column holiday (use holiday_mask)

In [21]:
# Solution
df_cleaned.loc[holiday_mask, 'holidaydate'] = df_cleaned.loc[holiday_mask, 'dteday']

**[3.15]** Create a new column called `last_holiday` that will be equals to `holidaydate` but with forward filling for missing values (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a new column called last_holiday that will be equals to holidaydate but with forward filling for missing values

In [22]:
# Solution
df_cleaned['last_holiday'] = df_cleaned['holidaydate'].fillna(method='ffill')

/var/folders/w7/cvmrvdgx00j4q4qkhbr15cb80000gn/T/ipykernel_85029/3059644967.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned['last_holiday'] = df_cleaned['holidaydate'].fillna(method='ffill')

**[3.16]** Create a new column called `last_holiday` that will be equals to `holidaydate` but with back filling for missing values (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a new column called last_holiday that will be equals to holidaydate but with back filling for missing values

In [23]:
# Solution
df_cleaned['next_holiday'] = df_cleaned['holidaydate'].fillna(method='bfill')

/var/folders/w7/cvmrvdgx00j4q4qkhbr15cb80000gn/T/ipykernel_85029/1745752607.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_cleaned['next_holiday'] = df_cleaned['holidaydate'].fillna(method='bfill')

**[3.17]** Replace missing values for `next_holiday` with the timestamp '2013-01-01`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task:

In [24]:
# Solution
df_cleaned['next_holiday'].fillna(pd.Timestamp('2013-01-01'), inplace=True)

/var/folders/w7/cvmrvdgx00j4q4qkhbr15cb80000gn/T/ipykernel_85029/919995417.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['next_holiday'].fillna(pd.Timestamp('2013-01-01'), inplace=True)

**[3.18]** Calculate the number of days for each observation between the current date and last holiday date. Save the results in a new column called `days_last_holiday`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Calculate the number of days for each observation between the current date and last holiday date. Save the results in a new column called days_last_holiday

In [25]:
# Solution
df_cleaned['days_last_holiday'] = (df_cleaned['dteday'] - df_cleaned['last_holiday']).dt.days

**[3.19]** Calculate the number of days for each observation between the current date and next holiday date. Save the results in a new column called `days_next_holiday`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Calculate the number of days for each observation between the current date and next holiday date. Save the results in a new column called days_next_holiday

In [26]:
# Solution
df_cleaned['days_next_holiday'] = (df_cleaned['next_holiday'] - df_cleaned['dteday']).dt.days

**[3.20]** Create a variable called `cat_cols` that contains the names of the categorical columns

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a variable called cat_cols that contains the names of the categorical columns

In [27]:
# Solution
cat_cols = ['season','mnth','holiday','weekday','workingday','weathersit']

**[3.21]** Perform One-Hot encoding on the categorical features

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Perform One-Hot encoding on the categorical features

In [28]:
# Solution
df_cleaned = pd.get_dummies(df_cleaned, columns=cat_cols)

**[3.22]** Save the dataframe in the `/data/interim` folder

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Save the dataframe in the /data/interim folder

In [29]:
# Solution
df_cleaned.to_csv('../data/interim/day.csv', index=False)

**[3.23]** Remove the following columns: 'dteday', 'holidaydate', 'last_holiday', 'next_holiday'

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Remove the following columns: 'dteday', 'holidaydate', 'last_holiday', 'next_holiday'

In [30]:
# Solution
df_cleaned.drop(['dteday', 'holidaydate', 'last_holiday', 'next_holiday'], axis=1, inplace=True)

### 4. Split Dataset

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Create a subset function

In [31]:
# Solution
def subset_x_y(target, features, start_index:int, end_index:int):
    """Keep only the rows for X and y sets from the specified indexes

    Parameters
    ----------
    target : pd.DataFrame
        Dataframe containing the target
    features : pd.DataFrame
        Dataframe containing all features
    features : int
        Index of the starting observation
    features : int
        Index of the ending observation

    Returns
    -------
    pd.DataFrame
        Subsetted Pandas dataframe containing the target
    pd.DataFrame
        Subsetted Pandas dataframe containing all features
    """

    return features[start_index:end_index], target[start_index:end_index]

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Create a function to split data by time

In [32]:
# Solution
def split_sets_by_time(df, target_col, test_ratio=0.2):
    """Split sets by indexes for an ordered dataframe

    Parameters
    ----------
    df : pd.DataFrame
        Input dataframe
    target_col : str
        Name of the target column
    test_ratio : float
        Ratio used for the validation and testing sets (default: 0.2)

    Returns
    -------
    Numpy Array
        Features for the training set
    Numpy Array
        Target for the training set
    Numpy Array
        Features for the validation set
    Numpy Array
        Target for the validation set
    Numpy Array
        Features for the testing set
    Numpy Array
        Target for the testing set
    """

    df_copy = df.copy()
    target = df_copy.pop(target_col)
    cutoff = int(len(target) / 5)

    X_train, y_train = subset_x_y(target=target, features=df_copy, start_index=0, end_index=-cutoff*2)
    X_val, y_val     = subset_x_y(target=target, features=df_copy, start_index=-cutoff*2, end_index=-cutoff)
    X_test, y_test   = subset_x_y(target=target, features=df_copy, start_index=-cutoff, end_index=len(target))

    return X_train, y_train, X_val, y_val, X_test, y_test

**[4.1]** Import your new function `split_sets_by_time` and split the data into several sets

In [ ]:
# Placeholder for student's code (2 lines of Python code)
# Task: Import your new function split_sets_by_time and split the data into several sets

In [33]:
# Solution


X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(df_cleaned, 'cnt', test_ratio=0.2)

**[4.2]** Define a function called `save_sets` with the following logics:
- input parameters: features and target for training, validation and testing sets and path to folder (`path`)
- logics: save the different sets locally with numpy if they exist
- output parameters: None

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Create a function to save sets

In [34]:
# Solution

def save_sets(X_train=None, y_train=None, X_val=None, y_val=None, X_test=None, y_test=None, path='../data/processed/'):
    """Save the different sets locally

    Parameters
    ----------
    X_train: Numpy Array
        Features for the training set
    y_train: Numpy Array
        Target for the training set
    X_val: Numpy Array
        Features for the validation set
    y_val: Numpy Array
        Target for the validation set
    X_test: Numpy Array
        Features for the testing set
    y_test: Numpy Array
        Target for the testing set
    path : str
        Path to the folder where the sets will be saved (default: '../data/processed/')

    Returns
    -------
    """
    import numpy as np

    if X_train is not None:
      np.save(f'{path}X_train', X_train)
    if X_val is not None:
      np.save(f'{path}X_val',   X_val)
    if X_test is not None:
      np.save(f'{path}X_test',  X_test)
    if y_train is not None:
      np.save(f'{path}y_train', y_train)
    if y_val is not None:
      np.save(f'{path}y_val',   y_val)
    if y_test is not None:
      np.save(f'{path}y_test',  y_test)

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Create a function to load sets

In [35]:
# Solution

def load_sets(path='../data/processed/', val=False):
    """Load the different locally save sets

    Parameters
    ----------
    path : str
        Path to the folder where the sets are saved (default: '../data/processed/')

    Returns
    -------
    Numpy Array
        Features for the training set
    Numpy Array
        Target for the training set
    Numpy Array
        Features for the validation set
    Numpy Array
        Target for the validation set
    Numpy Array
        Features for the testing set
    Numpy Array
        Target for the testing set
    """
    import numpy as np
    import os.path

    X_train = np.load(f'{path}X_train.npy') if os.path.isfile(f'{path}X_train.npy') else None
    X_val   = np.load(f'{path}X_val.npy'  ) if os.path.isfile(f'{path}X_val.npy')   else None
    X_test  = np.load(f'{path}X_test.npy' ) if os.path.isfile(f'{path}X_test.npy')  else None
    y_train = np.load(f'{path}y_train.npy') if os.path.isfile(f'{path}y_train.npy') else None
    y_val   = np.load(f'{path}y_val.npy'  ) if os.path.isfile(f'{path}y_val.npy')   else None
    y_test  = np.load(f'{path}y_test.npy' ) if os.path.isfile(f'{path}y_test.npy')  else None

    return X_train, y_train, X_val, y_val, X_test, y_test

**[4.3]** Import your new function and save the sets into the folder `data/processed`

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: Import your new function and save the sets into the folder data/processed

In [36]:
# Solution


save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

### 5. Baseline Model

**[5.1]** Calculate the average of the target variable for the training set and save it into a variable called `y_mean`

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Calculate the average of the target variable for the training set and save it into a variable called y_mean

In [37]:
# Solution:
y_mean = y_train.mean()

**[5.2]** Create a numpy array called `y_base` of dimensions (len(y_train), 1) filled with this value

In [ ]:
# Placeholder for student's code (1 line of Python code)
# Task: Create a numpy array called y_base of dimensions (len(y_train), 1) filled with this value

In [38]:
# Solution:
y_base = np.full((len(y_train), 1), y_mean)

**[5.3]** Define a function called `print_reg_perf` with the following logics:
- input parameters: predicted target (`y_preds`), actual target (`y_actuals`) and name of the set (`set_name`)
- logics: Print the RMSE and MAE for the provided data
- output parameters: None

In [ ]:
# Placeholder for student's code (multiple lines of Python code)
# Task: In src/models/ create a file called performance.py. Inside it you will define a function called print_reg_perf

In [39]:
def print_reg_perf(y_preds, y_actuals, set_name=None):
    """Print the RMSE and MAE for the provided data

    Parameters
    ----------
    y_preds : Numpy Array
        Predicted target
    y_actuals : Numpy Array
        Actual target
    set_name : str
        Name of the set to be printed

    Returns
    -------
    """
    from sklearn.metrics import mean_squared_error as mse
    from sklearn.metrics import mean_absolute_error as mae

    print(f"RMSE {set_name}: {mse(y_actuals, y_preds, squared=False)}")
    print(f"MAE {set_name}: {mae(y_actuals, y_preds)}")

**[5.4]** Display the RMSE and MAE scores of this baseline model

In [ ]:
# Placeholder for student's code (2 lines of Python code)
# Task: Display the RMSE and MAE scores of this baseline model

In [40]:
print_reg_perf(y_preds=y_base, y_actuals=y_train, set_name='Training')

RMSE Training: 1324.7868420297616
MAE Training: 1132.7364532147508

/Users/bonheur/Documents/50 - WORK/70 - MYKB/00 - Trainings/Data Science ML/UTS/venv/lib/python3.9/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

### 6.   Push changes

**[6.1]** Add you changes to git staging area

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Add you changes to git staging area

In [ ]:
# Solution:
git add .

**[6.2]** Create the snapshot of your repository and add a description

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Create the snapshot of your repository and add a description

In [ ]:
# Solution:
git commit -m "linear regression with poly 2"

**[6.3]** Push your snapshot to Github

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Push your snapshot to Github

In [ ]:
# Solution:
git push --set-upstream origin data_prep

**[6.4]** Check out to the master branch

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Check out to the master branch

In [ ]:
# Solution:
git checkout main

**[6.5]** Pull the latest updates

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Pull the latest updates

In [ ]:
git pull

**[6.6]** Check out to the `data_prep` branch

In [ ]:
# Placeholder for student's code (1 command line)
# Task: Check out to the data_prep branch

In [ ]:
# Solution:
git checkout data_prep

**[6.7]** Merge the `master` branch and push your changes

In [ ]:
# Placeholder for student's code (2 command lines)
# Task: Merge the master branch and push your changes

In [ ]:
# Solution:
git checkout main
git merge data_prep
git push

**[6.8]** Go to Github and merge the branch after reviewing the code and fixing any conflict